<ng-container *ngIf="!apiServiceLoginStatus; else elseTemplate">
  <div class="container">
    <div class="1">
      <mat-form-field>
        <input #Login matInput placeholder="Login" value="test">
      </mat-form-field>
    </div>
    <div class="2">
      <mat-form-field>
        <input #Password matInput placeholder="Password" value="Qwerty123456">
      </mat-form-field>
    </div>
    <div class="button">
      <button mat-button (click)="login(Login.value,Password.value)">login:{{apiServiceLoginStatus}}</button>
    </div>
  </div>

</ng-container>


<ng-template #elseTemplate>

  <mat-list role="list1">
    <mat-list-item role="listitem" *ngFor="let item of goodResults">
      <mat-icon>done</mat-icon>
      ACTION: {{item.action}}(id: {{item.id_query}} )
      {{item.value}}
    </mat-list-item>

  </mat-list>


  <mat-list role="list2">
    <mat-list-item role="listitem" *ngFor="let item of badResults">
      <mat-icon>error</mat-icon>
      ACTION: {{item.action}}
      (id: {{item.id_query}} )
      <p>{{item.err}}</p>




    </mat-list-item>
  </mat-list>
</ng-template>