
<ng-container *ngIf="!apiServiceLoginStatus; else elseTemplate">
  <div class="container">
    <div class="1">
      <mat-form-field>
        <input #Login matInput placeholder="Login" value="test">
      </mat-form-field>
    </div>
    <div class="2">
      <mat-form-field>
        <input #Password matInput placeholder="Password" value="Qwerty123456">
      </mat-form-field>
    </div>
    <div class="button">
      <button mat-button (click)="login(Login.value,Password.value)">login:{{apiServiceLoginStatus}}</button>
    </div>
  </div>

</ng-container>


<ng-template #elseTemplate>
  <app-table-expandable-rows-example [results]="results"></app-table-expandable-rows-example>
</ng-template>

